<div class="container py-5 h-50">
  <div class="row d-flex justify-content-center align-items-center h-50">
    <div class="col-6">
      <div class="card shadow-2-strong" [style.border-radius]="'1erm'">
        <div class="card-body p-5 text-center justify-content-center"  *ngIf="!isLoggedIn; else loginText">
          <h3 class="mb-0">Welcome to the website <br> register or log in</h3>
        </div>
        <ng-template #loginText>
          <div class="card-body p-5 text-center justify-content-center">
            <h3 class="mb-0">Welcome to the website</h3>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
