<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" [style.border-radius]="'1erm'">
        <div class="card-body p-5 text-center">
          <form [formGroup]="form">
            <h3 class="mb-5">Sign in</h3>

            <mat-form-field class="w-100">
              <mat-label>Enter your email</mat-label>
              <input matInput formControlName="login">
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password">
            </mat-form-field>

            <button mat-stroked-button class="w-100" [disabled]="form.invalid" (click)="login()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
