<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" data-bs-theme="dark">Навигация</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" [href]="Urls.TEAMS">Отделы</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" [href]="Urls.EMPLOYEES">Работники</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button mat-stroked-button color="accent" *ngIf="isLoggedIn; else logoutButton" (click)="logout()">Выйти
      </button>
      <ng-template #logoutButton>
        <button mat-stroked-button color="accent" (click)="registration()">Регистрация</button>
        <button mat-stroked-button color="accent" (click)="login()">Войти</button>
      </ng-template>
    </div>
  </div>
</nav>

